<!DOCTYPE html>
<html>
  <head>
    <title>MeadowLark Travel</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    {{#if showTests}}
      <link rel="stylesheet" href="/vendor/mocha.css" />
    {{/if}}
  </head>
  <body>
    <header>
      <img src="/img/logo.png" width="100" alt="MeadowLark Travel Logo" />
    </header>
    {{{body}}}
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    {{{_sections.jquery}}}
    {{#if showTests}}
      <div id="mocha">
        <script type="text/javascript" src="/vendor/mocha.js"></script>
        <script type="text/javascript" src="/vendor/chai.js"></script>
        <script>
          mocha.ui("tdd");
          var assert = chai.assert;
        </script>
        <script type="text/javascript" src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
          <script type="text/javascript" src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
  </body>
</html>
